{% extends "base.html" %}
{% block page_title %} Edge Academy Blog {% endblock page_title %}

{% block content %}
<div>
    <h1 class="font-bold text-2xl mb-4">Publicações recentes</h1>
    {% for post in posts %}
      <div class="mb-6 group">
        <h2 class="font-semibold text-lg mb-2 group-hover:font-bold">
          <a href="{% url 'blog:post_detail' post.slug %}" >
            {{ post.title|lower|capfirst }}
          </a>
        </h2>
        <p class="text-gray-700 mb-2">
          <a href="{% url 'blog:post_detail' post.slug %}">
            {{post.content|truncatechars:150|capfirst}}
          </a>
        </p>
        <p class="text-gray-600 mb-1">
          Autor: {{post.author.get_full_name|default:post.author.username}}
        </p>
        <p class="text-gray-600 mb-1">
          Publicado em: {{post.created_at|date}}
        </p>
      </div>
      {% if not forloop.last %}
        <hr class="my-4 border-t border-gray-300">
      {% endif %}
    {% endfor %}
  </div>
</div>
{% endblock content %}
